/* Styles */

* {
    background-color: rgb(253, 242, 189);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: Tahoma, Helvetica, sans-serif ;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}