/* Styles */

* {
    background-color: rgb(253, 242, 189);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: Tahoma, Helvetica, sans-serif ;
    margin: 5px;
}

h1 {
    font-size: 33px;
}

h2 {
    font-size: 24px;
}

.nav li {
    border: solid black;
    padding: 25px;
    width: 25%;
    margin: 15px 0px;
    background-color: aliceblue;
    width: 20%;
}

.nav a {
    background-color: aliceblue;
}